.main {
  /* background: linear-gradient(130deg,rgb(1, 1, 35),rgb(77, 5, 77), #8f0626, #2e5003); */
  /* background-color: rgb(8, 10, 10); */
  min-height: 100vh;
  width: 100%;
}

.signup-container {
  border: 2px solid #f5da72;
  /* margin-top: 50px; */
  padding: 3rem;
  /* background-color: #f8f9fa; */
  border-radius: 15px;
  box-shadow: 5px 5px 8px #f5da72, inset 3px 3px 8px #f5da72;
  /* box-shadow: 10px 10px 8px rgba(226, 159, 3, 0.441) ,inset 3px 3px 8px rgba(204, 178, 9, 0.441); */
}

.left-container {
  /* background-color: #007bff; */
  color: white;
  padding-top: 3rem;
  border-radius: 10px 0 0 10px;
  text-align: left;
}

.left-container h1 {
  /* font-size: 2rem; */
  font-weight: bolder;
  margin-bottom: 20px;
}

.left-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.learn-more-button {
  background-color: #0056b3;
  border: none;
}

.learn-more-button:hover {
  background-color: #004085;
}

.right-container {
  color: white;
  /* margin: 0.15rem; */
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(33, 32, 32, 0.345);
  /* background-color: #f5db7248; */
}

.right-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.signup-button {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  /* box-shadow: inset 1px 1px 4px #F5DA72; */
  /* background: radial-gradient(red,green); */
  background-color: #021212;
  transition: 200ms linear;
  border: none;
}
.signup-button:hover {
  background-color: #021212;
  /* transform: scale(1.1); */
  box-shadow: 2px 2px 8px #f5da72;
}
.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.facebook-icon:hover {
  color: #3b5998;
}

.twitter-icon:hover {
  color: #00acee;
}

.google-icon:hover {
  color: #db4437;
}
.user-icon {
  font-size: 3rem;
  /* border: 2px solid black; */
  padding: 2px;
  color: white;
  margin-bottom: 1rem;
  /* display: block; */
  text-align: center;
}
